@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

:root {
  --primary: #3F72AF;
  --primary-light: #F9F7F7;
  --primary-blue-dark: #112D4E;
  --primary-blue-light: #DBE2EF;
  --font-size-small: 14px;
  --font-size-normal: 16px;
  --font-size-large: 18px;
  --font-size-subheader: 20px;
  --font-size-header: 25px;
  --font-weight-header: 700;
  --border-radius-primary: 16px;
  --size-mobile: 480px;
  --size-small: 600px;
  --size-tablet: 768px;
  --size-desktop: 992px;
  --size-extra-large: 1200px;
}

html,
body {
  background-color: var(--primary-blue-light) !important;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  background-color: var(--primary);
  color: var(--primary-light);
  position: relative;
  font-size: var(--font-size-normal);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* CLASS STYLES */
.banner {
  margin-top: 25vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;

}
.banner-title {
  margin-left: 20vw;
  font-size: 90px;
  font-weight: var(--font-weight-header);
  z-index: 1;
}
.banner-tagline {
  margin-left: 20vw;
  font-size: 35px;
  z-index: 1;
}
.banner-image{
  width: 100%;
  margin-top: -30vh;
}

.dot-container {
  padding-bottom: 70px;
}

.custom-dot-list {
  margin-bottom: 0px !important;
}

.navbar {
  padding-left: 30px;
  display: flex;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background-color: var(--primary-blue-light);
  z-index: 9999;
  box-shadow: -1px 1px 1px 1px var(--primary-blue-dark);
}
.nav-logo {
  flex: 3;
}
.nav-menu {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
}

.portfolio-card {
  border-radius: 15px;
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.project-image-container {
  position: relative;
}
.portfolio-projects {
  margin-top: 55px;
  display: grid;
  align-self: center;
  grid-template-columns: 1fr 1fr;
  column-gap: 150px;
  row-gap: 50px;
}

.project-image-container:hover .portfolio-card {
  opacity: 0.5;
  cursor: pointer;
}

.project-image-container:hover .overlay {
  opacity: 1;
}

.overlay {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  justify-content: space-around;
  width: 60%;
}

.technologies-section,
.services-section,
.portfolio-section {
  display: flex;
  flex-direction: column;
  /* height: calc(100vh - 100px); */
  padding-top: 5rem;
}

.section-header {
  font-size: var(--font-size-header);
  font-size: 40px;
  align-self: center;
  font-weight: var(--font-weight-header);
}
.service-list {
  margin-top: 48px;
}

.technolgies-list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--primary);
}

.App-particles__container {
  overflow: hidden;
  position: absolute;
  top: 65px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  height: 95vh;
  /* z-index: -1; */
}

@media (max-width: 480px) {
  .container {
    width: 88%;
    margin: 24px;
  }
  .technolgies-list {
    display: flex;
    justify-content: flex-start;
    margin-left: -45px;
  }

  .portfolio-projects {
    grid-template-columns: 1fr;
  }

  .services-section {
    margin-bottom: 90px;
  }
}
