@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");

:root {
  --primary: #3f72af;
  --primary-light: #f9f7f7;
  --primary-blue-dark: #112d4e;
  --primary-blue-light: #dbe2ef;
  --font-size-small: 14px;
  --font-size-normal: 16px;
  --font-size-large: 18px;
  --font-size-subheader: 20px;
  --font-size-header: 25px;
  --font-weight-header: 700;
  --border-radius-primary: 16px;
  --size-mobile: 480px;
  --size-small: 600px;
  --size-tablet: 768px;
  --size-desktop: 992px;
  --size-extra-large: 1200px;
}

html,
body {
  height: 100vh;
  width: 100vw;
  background-color: rgba(248, 245, 245, 0.377) !important;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  background-color: var(--primary);
  color: var(--primary-light);
  position: relative;
  font-size: var(--font-size-normal);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* CLASS STYLES */
.banner {
  height: 90vh;
  margin-top: 25vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

.App-particles__container {
  overflow: hidden;
  position: absolute;
  top: 65px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  height: 90vh;
  /* z-index: -1; */
}

.banner-title {
  margin-left: 20vw;
  font-size: 90px;
  font-weight: var(--font-weight-header);
  z-index: 1;
}
.banner-tagline {
  margin-left: 20vw;
  font-size: 35px;
  z-index: 1;
}
.banner-image {
  width: 100%;
  margin-top: -30vh;
}

.dot-container {
  padding-bottom: 70px;
}

.custom-dot-list {
  margin-bottom: 0px !important;
}

.nav-links {
  display: flex;
  margin-left: 20px;
}
.nav-logo {
  flex-grow: 1;
  cursor: pointer;
  align-self: flex-start;
  justify-self: flex-start;
}
.link {
  justify-self: flex-end;
  align-self: flex-end;
  color: black;
  font-size: 20px;
  margin-left: 20px;
}
.link:hover {
  color: grey;
}

.portfolio-card {
  border-radius: 15px;
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.project-image-container {
  position: relative;
}
.portfolio-projects {
  margin-top: 55px;
  margin-left: 10px;
  margin-right: 10px;
  display: grid;
  align-self: center;
  grid-template-columns: 1fr 1fr;
  column-gap: 150px;
  row-gap: 50px;
}

.project-image-container:hover .portfolio-card {
  opacity: 0.5;
  cursor: pointer;
}

.project-image-container:hover .overlay {
  opacity: 1;
}

.overlay {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  justify-content: space-around;
  width: 60%;
}

.technologies-section,
.services-section,
.portfolio-section {
  display: flex;
  flex-direction: column;
  /* height: calc(100vh - 100px); */
  padding-bottom: 2rem;
}

.section-header {
  font-size: var(--font-size-header);
  font-size: 40px;
  align-self: center;
  font-weight: var(--font-weight-header);
}
.service-list {
  margin-top: 48px;
}

.technolgies-list {
  display: flex;
  margin-top: 5rem;
  justify-content: center;
  align-items: flex-start;
  width: 90vw;
  /* background-color: var(--primary); */
}

@media only screen and (max-width: 769px) {
  

  .banner {
    height: 70vh;
    margin-top: 25vh;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
  }

  .banner-title {
    margin-top: -20vh;
    margin-left: 10vw;
    font-size: 90px;
    font-weight: var(--font-weight-header);
    z-index: 1;
  }
  .banner-tagline {
    margin-left: 20vw;
    font-size: 35px;
    z-index: 1;
  }
  .banner-image {
    width: 100%;
    margin-top: -5vh;
  }
  .App-particles__container {
    overflow: hidden;
    position: absolute;
    top: 65px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    height: 70vh;
    /* z-index: -1; */
  }
  .portfolio-projects {

    grid-template-columns: 1fr;

  }
}

@media only screen and (max-width: 430) {
.nav-logo {
  /* flex-grow: 1; */
  cursor: pointer;
  margin: auto !important; 
  display: flex !important;
}
}